html {
  font-size: 131.25%;
  line-height: 1.5em;
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.gallery-item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 200px;
          flex: 1 1 200px;
}
.gallery-item a {
  display: inline-block;
  width: 80%;
  height: auto;
}
.gallery-item figure {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.gallery-item figcaption {
  font-size: 0.8em;
  line-height: 1.875em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}
