html {
  font-size: 131.25%;
  line-height: 1.5em;
}

.jumbotron {
  position: relative;
  width: 100vw;
  left: calc(-50vw + 50%);
  background-color: #4393B9;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
