html {
  font-size: 131.25%;
  line-height: 1.5em;
}

.jumbotron {
  position: relative;
  width: 100vw;
  left: calc(-50vw + 50%);
  background-color: #4393B9;
  padding-top: 50px;
  padding-bottom: 50px;
  color: #fff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.callouts {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.callouts .callout {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-width: 30%;
  max-width: 65%;
}

.callout {
  cursor: pointer;
  padding: 1.25em;
  margin: 0.625em;
  border: 0.125em solid #eee;
  border-left-width: 0.3125em;
  border-radius: 0.1875em;
  border-left-color: #e8d8a6;
}
.callout h2 {
  margin-top: 0;
  font-size: 1.25em;
  line-height: 1.2em;
  font-weight: 500;
}
.callout p {
  margin-top: 1.875em;
  font-size: 0.8em;
  line-height: 1.875em;
}
