html {
  font-size: 131.25%;
  line-height: 1.5em;
}

/* Header Styles */
.navbar {
  background-color: #CEAC41;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}
.navbar .navbar-brand {
  text-transform: none;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  border-radius: 95%;
}
.navbar .navbar-brand span {
  padding-left: 0.33333em;
  color: white;
  line-height: 1.1810em;
  letter-spacing: 2px;
}
.navbar a {
  color: #f6f0df;
  font-family: "Oswald", arial narrow, sans-serif;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 700;
}
.navbar a:hover {
  color: #4163ce;
}
.navbar a.active {
  color: rgba(230, 230, 230, 0.7);
}
.navbar a.active:hover {
  color: rgba(230, 230, 230, 0.7);
}
.navbar .current {
  color: #faf4ea !important;
  background-color: transparent !important;
}
.navbar .current:hover {
  color: #EFDEC2 !important;
}
.navbar .dropdown-menu a {
  color: #000000 !important;
  text-transform: none;
}
@media screen and (min-width: 992px) {
  .navbar .navbar-nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    float: none;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar .navbar-nav li {
    float: none;
  }
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #cf975a;
}

#main-container {
  margin-right: 0;
}

/* Banner Styling */
.bottom-banner {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}
.bottom-banner .banner-container {
  width: 100%;
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* Footer Styles */
footer {
  background-color: #2d3033;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  color: #fff;
}
footer .small-paragraph {
  font-size: 0.8em;
  line-height: 1.875em;
  margin-top: 1.875em;
}
footer p,
footer .small-paragraph,
footer h4 {
  color: rgba(255, 255, 255, 0.7);
}
