html {
  font-size: 131.25%;
  line-height: 1.5em;
}

/* Header Styles */
.navbar {
  background-color: #CEAC41;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
}
.navbar .navbar-brand {
  background-color: #BF7E37;
  text-transform: none;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
  border: 3px solid #EFDEC2;
  border-radius: 95%;
}
.navbar .navbar-brand span {
  padding-left: 0.33333em;
  color: white;
  line-height: 1.1810em;
  letter-spacing: 2px;
}
.navbar a {
  color: #f6f0df !important;
  font-family: "Oswald", arial narrow, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}
.navbar a:hover {
  color: #4163ce !important;
}
.navbar .current {
  color: #faf4ea !important;
  background-color: transparent !important;
}
.navbar .current:hover {
  color: #EFDEC2 !important;
}
.navbar .dropdown-menu a {
  color: #000000 !important;
  text-transform: none;
}
.navbar .navbar-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.navbar .navbar-nav li {
  float: none;
}

#main-container {
  margin-right: 0;
}

/* Banner Positioning */
.top-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media screen and (min-width: 768px) {
  .top-banner {
    margin-bottom: 4.5em;
  }
}

.side-banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1em;
}

/* Footer Styles */
footer {
  background-color: #2d3033;
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  color: #fff;
}
footer .small-paragraph {
  font-size: 0.8em;
  line-height: 1.875em;
  margin-top: 1.875em;
}
footer p,
footer .small-paragraph,
footer h4 {
  color: rgba(255, 255, 255, 0.7);
}
