html {
  font-size: 131.25%;
  line-height: 1.5em;
}

html,
body {
  overflow-x: hidden;
}

html {
  text-rendering: optimizeLegibility;
}

body {
  font-size: 21px;
  font-family: "Open Sans", font-awesome, sans-serif;
  margin-top: 3.75em;
}
@media screen and (max-width: 767px) {
  body {
    font-size: 16px;
  }
  body #loading-msg {
    padding-left: 2em;
  }
}
@media screen and (min-width: 768px) {
  body {
    padding-left: 2em;
    padding-right: 2em;
  }
}

p {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  max-width: 860px;
}

h1 {
  font-family: "Oswald", arial narrow, sans-serif;
  font-size: 3.05176em;
  line-height: 1.47456em;
  margin-bottom: 0.49152em;
}

h2 {
  font-family: "Oswald", arial narrow, sans-serif;
  font-size: 1.95313em;
  line-height: 1.536em;
  margin-top: 1.536em;
}

h3 {
  font-family: "Oswald", arial narrow, sans-serif;
  font-size: 1.5625em;
  line-height: 1.92em;
  margin-top: 0.96em;
}

h4 {
  font-family: "Oswald", arial narrow, sans-serif;
  font-size: 1.25em;
  line-height: 1.2em;
  margin-top: 1.2em;
}

h1,
h2 {
  color: #2d3033;
}

.description {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.description p {
  margin-top: 1.5em;
  margin-bottom: 3em;
}

a {
  color: #4393B9;
}
a:focus, a:hover {
  color: #4163ce;
  text-decoration: none;
}

.well {
  background-color: #fff;
}
