html {
  font-size: 131.25%;
  line-height: 1.5em;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #336699;
  margin-top: 0.73728em;
}

.breadcrumb {
  font-size: 0.8em;
  line-height: 1.875em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.breadcrumb a {
  cursor: pointer;
}
