html {
  font-size: 131.25%;
  line-height: 1.5em;
}

table {
  font-size: 0.8em;
  line-height: 1.875em;
  max-width: 100%;
}

thead {
  background-color: #CEAC41;
  color: #f6f0df;
}

@media screen and (min-width: 768px) {
  td.right-padding {
    padding-right: 2em;
  }
}
