@import 'config/variables';
h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: $blue;
    @include leader(1.5, ms(5)*1/(1em) *$base-font-size);
}

h2 {
    font-weight: 200;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.gallery-item {
    flex: 1 1 200px;
    display: flex;
    justify-content: center;
    a {
        display: inline-block;
        width: 80%;
        height: auto;
    }
    figure {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    figcaption {
        @include adjust-font-size-to(ms(-1));
        // @include leader(1, ms(-1)*1/(1em) *$base-font-size);
    }
}

.well {
    background-color: #fff;
}

.breadcrumb {
    @include adjust-font-size-to(ms(-1));
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    a {
        cursor: pointer;
    }
}
