@import 'config/variables';
.panel {
    width: 80%;
    height: auto;
    margin: 0 auto;
    @include adjust-font-size-to(ms(0));
    @include leader(1.5, ms(0)*1/(1em) *$base-font-size);
}

.panel-heading {
    background-color: $blue-light;
}

.panel-body {
    img {
        width: 100%;
    }
    padding: em(15px);
}

.panel-footer {
    .position {
        @include adjust-font-size-to(ms(-2));
        @include leader(0.5, ms(-2)*1/(1em) *$base-font-size);
    }
    .controls {
        display: flex;
        width: 100%;
        justify-content: space-around;
        @media screen and (max-width: $mobile-breakpoint) {
            flex-wrap: wrap
        }
        a {
            @include adjust-font-size-to(ms(-2));
            @include leader(1, ms(-2)*1/(1em) *$base-font-size);
            flex: 1 1;
            padding: em(6) em(8) em(6) em(18);
            display: flex;
            word-wrap: break-word;
            align-items: center;
            justify-content: center;
            span {
                flex: 1 1;
            }
        }
    }
    .description {
        @include adjust-font-size-to(ms(-1));
        @include leader(1, ms(-1)*1/(1em) *$base-font-size);
    }
}
