@import 'config/variables';
.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.gallery-item {
    flex: 1 1 200px;
    a {
        display: inline-block;
        width: 80%;
        height: auto;
    }
    p {
        @include trailer(1, ms(0)*1/(1em) *$base-font-size);
    }
    figure {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    figcaption {
        @include adjust-font-size-to(ms(-1));
       // @include leader(1, ms(-1)*1/(1em) *$base-font-size);
        align-self: center;
    }
}
