@import 'config/variables';
h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: $blue;
    @include leader(1.5, ms(5)*1/(1em) *$base-font-size);
}

.date-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    @include adjust-font-size-to(ms(-1));
}

.feature-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .chart-thumbnail {
        flex-basis: 25%;
        img {
            width: 100%;
            height: auto;
        }
        .caption {
            @include adjust-font-size-to(ms(-1));
            text-align: center;
            max-width: 100%;
        }
    }
    .description {
        flex-basis: 70%;
        text-align: center;
    }
}
