@import 'config/variables';
h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: $blue;
    @include leader(1.5, ms(5)*1/(1em) *$base-font-size);
}

.date-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.feature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}