@import 'config/variables';
.jumbotron {
    position: relative;
    width: 100vw;
    left: calc(-50vw + 50%);
    background-color: $blue-light;
    padding-top: 50px;
    padding-bottom: 50px;
    color: #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}



.callout {
    h2 {
        margin-top: 0;
        @include adjust-font-size-to(ms(1));
        font-weight: 500;
    }
    p {
        @include leader(1, ms(-1)*1/(1em) *$base-font-size);
        @include adjust-font-size-to(ms(-1));
    }
    padding: em(20px);
    margin: em(10px);
    border: em(1px) solid #eee;
    border-left-width: em(5px);
    border-radius: em(3px);
    border-left-color: lighten($gold, 25%);
}
