@import 'config/variables';

/* Header Styles */

.navbar {
    background-color: $gold;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    .navbar-brand {
        text-transform: none;
        display: inline-flex;
        align-items: center;
        padding: 12px;
        border-radius: 95%;
        span {
            padding-left: 1/3*1em;
            color: lighten($beige-light, 15%);
            line-height: 1.1810em;
            letter-spacing: 2px;
        }
    }
    a {
        color: lighten($gold-light, 25%);
        font-family: $header-font-stack;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-weight: 700;
        &:hover {
            color: complement($gold);
        }
    }
    a.active {
        color: darken($grey, 10%);
        &:hover {
            color: darken($grey, 10%);
        }
    }
    .current {
        color: lighten($beige-light, 10%) !important;
        background-color: transparent !important;
        &:hover {
            color: $beige-light !important;
        }
    }
    .dropdown-menu a {
        color: #000000 !important;
        text-transform: none;
    }
    @media screen and (min-width: $medium-breakpoint) {
        .navbar-nav {
            display: flex;
            float: none;
            justify-content: center;
            li {
                float: none;
            }
        }
    }
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: lighten($gold-warm, 10);
}

#main-container {
    margin-right: 0;
}


/* Banner Styling */

.bottom-banner {
    display: flex;
    justify-content: center;
    @include leader(1);
    @include trailer(1);
}


/* Footer Styles */

footer {
    background-color: $dark-grey;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    color: #fff;
    .small-paragraph {
        @include adjust-font-size-to(ms(-1));
        @include leader(1, ms(-1)*1/(1em) *$base-font-size);
    }
    p,
    .small-paragraph,
    h4 {
        color: $grey;
    }
}
