@import 'config/variables';

/* Header Styles */

.navbar {
    background-color: $gold;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 1em;
    .navbar-brand {
        text-transform: none;
        display: inline-flex;
        align-items: center;
        span {
            padding-left: 1/3*1em;
            color: lighten($beige-light, 15%);
            line-height: 1.1810em;
        }
    }
    a {
        color: lighten($gold-light, 15%) !important;
        font-family: $header-font-stack;
        text-transform: uppercase;
        font-weight: 700;
        &:hover {
            color: complement($gold) !important;
        }
    }
    .current {
        color: lighten($beige-light, 10%) !important;
        background-color: transparent !important;
        &:hover {
            color: $beige-light !important;
        }
    }
    .dropdown-menu a {
        color: #000000 !important;
        text-transform: none;
    }
}

#main-container {
    margin-right: 0;
}


/* Banner Positioning */

.top-banner {
    display: flex;
    justify-content: center;
    @media screen and (min-width: $mobile-breakpoint + 1px) {
        @include trailer(3);
    }
}

.side-banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
}


/* Footer Styles */

footer {
    background-color: $dark-grey;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    color: #fff;
    .small-paragraph {
        @include adjust-font-size-to(ms(-1));
        @include leader(1, ms(-1)*1/(1em) *$base-font-size);
    }
    p,
    .small-paragraph,
    h4 {
        color: $grey;
    }
}
