@import 'config/variables';
h1 {
    text-transform: uppercase;
    letter-spacing: 5px;
    color: $blue;
    @include leader(1.5, ms(5)*1/(1em) *$base-font-size);
}

.breadcrumb {
    @include adjust-font-size-to(ms(-1));
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    a {
        cursor: pointer;
    }
}
