@import "compass";
@import "modular-scale";

// establish vertical baseline
$base-font-size: 21px;
$base-line-height: 31.5px;
@include establish-baseline;

// establish scale
$ms-base: 1em;
$ms-ratio: 1.25;


// colors
$gold: #CEAC41;
$gold-light: #DAC27C;
$beige: #D7AF72;
$beige-light: #EFDEC2;
$brown: #A8651E;
$blue: #336699;
$blue-dark: #003366;
$dark-grey: rgb(45, 48, 51);
$grey: rgba(255,255,255,0.7);

$color: rgb(238, 221, 130);
$lighter-color: #FAF3DD;

// font-stack
$font-stack: font-awesome, sans-serif;
$header-font-stack:'Oswald', arial narrow, sans-serif;

// breakpoints
$mobile-breakpoint: 767px;