<h1 class="text-center">Charts</h1>
<section *ngFor="let section of sections" class="well well-lg">
    <h2 class="text-center">{{section.title}}</h2>
    <div class="description" [innerHTML]="section.description"></div>
    <div class="gallery">
        <div class="gallery-item" *ngFor="let chart of section.charts">
            <figure>
                <a [routerLink]="['/chart', chart.id]"><img [src]="chart.src" [alt]="chart.title" /></a>
                <figcaption>{{chart.title}}</figcaption>
            </figure>
        </div>
    </div>
</section>
