<div class="panel panel-primary" *ngIf="chart">
    <div class="panel-heading text-center">
        {{chart.title}}</div>
    <div class="panel-body">
        <img [src]="chart.src" [alt]="chart.tooltip" />
    </div>
    <div class="panel-footer">
        <div class="controls" *ngIf="prevChart && nextChart">
            <a class="btn btn-default" [routerLink]="['/chart', prevChart.id]"><span> <i class="glyphicon glyphicon-chevron-left"></i> {{prevChart.title | trim}}</span></a>
            <a class="btn btn-default" [routerLink]="['/chart', nextChart.id]"><span>{{nextChart.title | trim}} <i class="glyphicon glyphicon-chevron-right"></i></span></a>
        </div>
        <div class="position text-center"> <span class="text-center">{{position}} of {{totalCharts}}</span></div>
        <div [innerHTML]="chart.description" class="description"></div>
    </div>
</div>
