<h1 class="text-center">Featured</h1>

<div *ngIf="featured" class="description" [innerHTML]="featured.lead"></div>
<div id="features-wrapper" *ngIf="featured && charts">
    <div *ngFor="let feature of featured.features; let i = index" class="well feature">
        <div class="date-container"><span>{{feature.date}}</span></div>
        <div class="feature-content">
            <div class="chart-thumbnail" *ngIf="charts[i]">
                <a [routerLink]="['/chart', charts[i].id]"><img [src]="charts[i].src" [alt]="charts[i].title"></a>
                <p class="caption" class="hidden-xs hidden-sm">{{charts[i].tooltip}}</p>
            </div>
            <div class="description" [innerHTML]="feature.description"></div>
        </div>
    </div>
</div>
