<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 jumbotron">
            <h1 class="text-center">{{page.tagline}}</h1>
            <div class="welcome-statements">
                <div *ngFor="let statement of page.welcome_statements" class="text-center welcome-statement">{{statement}}</div>
            </div>
        </div>
    </div>
</div>
<div class="callouts">
        <div class="callout" *ngFor="let descriptor of page.descriptors" (click)="navigate(descriptor.route)">
            <h2 class="text-center hook">{{descriptor.hook}}</h2>
            <p class="text-center">{{descriptor.details}}</p>
        </div>
</div>
