<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <a class="navbar-brand" routerLink="/" routerLinkActive="active"><span>GoldMinerPulse</span></a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a routerLink="/featured" routerLinkActive="active">Featured</a></li>
                    <li><a routerLink="/charts" routerLinkActive="active">Charts</a></li>
                    <li><a routerLink="/stats" routerLinkActive="active">Stats</a></li>
                    <li><a routerLink="/blogs" routerLinkActive="active">Blogs</a></li>
                    <li><a routerLink="/tools" routerLinkActive="active">Tools</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>
<div class="container-fluid" id="main-container">
    <div class="row">
        <div class="col-xs-12">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 bottom-banner hidden-xs">
            <div class="banner-container" *ngIf="current === 0">
                <!--Please note that changes to this code are not permitted. Should the code be manipulated in any way, bwin.party partners reserves the right to block the account.-->
                <iframe id="partners1749466" name="partners1749466" src="https://mediaserver.bwinpartypartners.com/renderBanner.do?zoneId=1749466&t=f&v=1&securedDomain=y" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" width="728" height="90"></iframe>
            </div>
            <div class="banner-container" *ngIf="current === 1">
                <iframe id="partners1700015" name="partners1700015" src="https://mediaserver.bwinpartypartners.com/renderBanner.do?zoneId=1700015&t=f&v=1&securedDomain=y" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" width="728" height="90"></iframe>
            </div>
            <div class="banner-container" *ngIf="current === 2">
                <iframe id="partners1700016" name="partners1700016" src="https://mediaserver.bwinpartypartners.com/renderBanner.do?zoneId=1700016&t=f&v=1&securedDomain=y" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" width="728" height="90"></iframe>
            </div>
            <div *ngIf="current === 3">
                <iframe id="partners1749603" name="partners1749603" src="https://mediaserver.bwinpartypartners.com/renderBanner.do?zoneId=1749603&t=f&v=1&securedDomain=y" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" width="728" height="90"></iframe>
            </div>
            <div class="banner-container" *ngIf="current === 4">
                <iframe id="partners1735657" name="partners1735657" src="https://mediaserver.bwinpartypartners.com/renderBanner.do?zoneId=1735657&t=f&v=1&securedDomain=y" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" width="728" height="90"></iframe>
            </div>
        </div>
        <div class="col-xs-12 bottom-banner visible-xs">
            <div class="banner-container" *ngIf="current === 0">
                <iframe id="partners1749604" name="partners1749604" src="https://mediaserver.bwinpartypartners.com/renderBanner.do?zoneId=1749604&t=f&v=1&securedDomain=y" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" width="300" height="250"></iframe>
            </div>
            <div class="banner-container" *ngIf="current === 1">
                <iframe id="partners1749602" name="partners1749602" src="https://mediaserver.bwinpartypartners.com/renderBanner.do?zoneId=1749602&t=f&v=1&securedDomain=y" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" width="300" height="250"></iframe>
            </div>
            <div class="banner-container" *ngIf="current === 2 || current === 3 || current === 4">
                <iframe id="partners1749602" name="partners1749602" src="https://mediaserver.bwinpartypartners.com/renderBanner.do?zoneId=1749602&t=f&v=1&securedDomain=y" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" width="300" height="250"></iframe>
            </div>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3>Services</h3>
                <h4>Outsource Your Gold Market Data Capture Tasks to GoldMinerPulse</h4>
                <p class="small-paragraph">
                    Reports with custom metrics (including daily, weekly or monthly updates and historical data) of TSX/TSXv gold/silver explorers/developers/producers available at fixed rates.
                </p>
            </div>
            <div class="col-md-4">
                <h3>Contact</h3>
                <p>
                    dennis@goldminerpulse.com
                    <br> 778-230-3439, Pacific Standard Time (GMT-8)
                </p>
            </div>
        </div>
    </div>
</footer>
