<header>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
                <a class="navbar-brand" routerLink="/" routerLinkActive="active"><img src="https://www.goldminerpulse.com/favicon.ico" alt="Brand" /><span>GoldMinerPulse</span></a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left ">
                    <li><a routerLink="/stats" routerLinkActive="active">Stats</a></li>
                    <li><a routerLink="/charts" routerLinkActive="active">Charts</a></li>
                    <li><a routerLink="/latest" routerLinkActive="active">Latest</a></li>
                    <li><a routerLink="/blogs" routerLinkActive="active">Blogs</a></li>
                    <li><a routerLink="/tools" routerLinkActive="active">Tools</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
</header>
<div class="container-fluid" id="main-container">
    <div class="row">
        <div class="col-xs-12 top-banner">
            <!--Please note that changes to this code are not permitted. Should the code be manipulated in any way, bwin.party partners reserves the right to block the account.-->

            <iframe id="partners1749466" name="partners1749466" src="https://mediaserver.bwinpartypartners.com/renderBanner.do?zoneId=1749466&t=f&v=1&securedDomain=y" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" width="728" height="90">
</iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-11 col-xs-12">
            <router-outlet></router-outlet>
        </div>
        <div class="col-sm-1 side-banner hidden-xs">
            <!--Please note that changes to this code are not permitted. Should the code be manipulated in any way, bwin.party partners reserves the right to block the account.-->
            <iframe id="partners1749465" name="partners1749465" src="https://mediaserver.bwinpartypartners.com/renderBanner.do?zoneId=1749465&t=f&v=1&securedDomain=y" frameborder="0" marginheight="0" marginwidth="0" scrolling="no" width="120" height="600"></iframe>
        </div>
    </div>
</div>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h3>Services</h3>
                <h4>Outsource Your Gold Market Data Capture Tasks to GoldMinerPulse</h4>
                <p class="small-paragraph">
                    Contact dennis@goldminerpulse.com to request a free no obligation evaluation copy of a TSX/TSXv gold/silver miner daily, weekly and monthly reports and private view web pages. I will be happy to work with you to design a product that matches your exact
                    information capture and processing needs.
                </p>
            </div>
            <div class="col-md-4">
                <h3>Contact</h3>
                <p>
                     dennis@goldminerpulse.com
                    <br> 778-230-3439, Pacific Standard Time (GMT-8)
                </p>
            </div>
        </div>
    </div>
</footer>
