<h1 class="text-center">Statistics</h1>
<ol class="breadcrumb hidden-xs">
    <li *ngFor="let section of sections"><a href="/">{{section.title}}</a></li>
</ol>
<section *ngFor="let section of sections" class="well">
    <h2 class="text-center">{{section.title}}</h2>
    <div class="description" [innerHTML]="section.description"></div>
    <div *ngFor="let table of section.tables">
        <stat-table [title]="table.title" [description]="table.description" [headers]="table.headers" [rows]="table.rows"></stat-table>
    </div>
</section>
